.bloop/
.bsp
.DS_Store
.ensime
.ensime_cache/
.history
.idea
.idea_modules
.metals/
.sbt-scripted/
.vscode/
*.class
*.log
/.worksheet/
dist/*
hs_err_pid*
lib_managed/
local.sbt
metals.sbt
project/boot/
project/local-plugins.sbt
project/plugins/project/
src_managed/
target/
